github "robbiehanson/CocoaAsyncSocket" ~> 7.6.1
github "CocoaLumberjack/CocoaLumberjack" ~> 3.2.1
git "https://github.com/lexrus/MMDB-Swift.git"
github "zhuhaow/Sodium-framework" "v1.0.10.1"
github "zhuhaow/YamlSwift" "master"
github "zhuhaow/tun2socks" ~> 0.6.0
github "zhuhaow/Resolver" ~> 0.1.3
